__pycache__
*.pyc
*.pyo
logs
venv
.env
.venv
Registers data*
changed_lines*

# PyInstaller created folders
build/
dist/

# Temporary and compiled files
*.pyc
__pycache__/
*.pyz
*.exe
*.spec

# Temporary zip files
*.zip

# Logs
*.log
utils.egg-info
drr.py

tmp.py
poweershell.txt